* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    /* flex-direction: column; */
    background-color: #ae8f8f;
    height: 400px;
    /* when using flex-direction:column; justify content acts on the cross axis and align items on the main axis as the main axis is vertical and cross axis is horizontal*/
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}


.item {
    width: 200px;
    height: 100px;
    background: yellow;
    color: black;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
